html {
    background-color: #fae5c2;
    font-size: 100%;
    font-family: 'Comfortaa', cursive;
    color: #e88d0b;
}

a:link { 
    color:#e88d0b;
    text-decoration: none;
}  
a:visited { 
    color:#e88d0b;
    text-decoration: none;
} 
a:hover { 
    color:#c77909; 
    text-decoration: underline;
} 
a:active { 
    color:#c77909;
    text-decoration: underline;
}

body {
    background-color: #fae5c2;
    font-family: 'Comfortaa', cursive;
    color: #e88d0b;
}

/*Header*/
#buttons {
    display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 1.5rem;
}

#name {
    text-align: center;
    font-family: stsong; 
    font-size: 3rem;
}
 
#header-line {
    border-color: #e88d0b;
    background-color: #e88d0b;
    margin-left: 6rem;
    margin-right: 6rem;
}

/* Home Page */

#demo-reels {
    display: grid;
    grid-template-columns: 576px 576px;
    grid-template-rows: auto auto; 
    justify-content: center;
    grid-column-gap: 3rem; 
    padding-top: 2rem;
} 

#reel-breakdown-button {
    background-color: #FFF;
    font-family: 'Comfortaa', cursive;
    color: #e88d0b;
    width: 21rem;
    height: 4rem;
    margin-top: 1.5rem;
    font-size: 1rem;
    border-radius: 1rem; 
}

#animation-reel-breakdown {
    display: none;
}

#animation-reel-breakdown-contents {
	margin: auto;
	width: 50%;
	display: grid;
	grid-template-columns: auto auto;
	width: 576px;
	line-height: 1.5;
	grid-gap: 2rem;
}

.img {
	padding-top: 1rem;
	height: 100px;
	width: auto;
} 

#download-link {
	color: #c77909;
	font-weight: bold;
}

/* About Page */

.icon {
    width: 2rem;
    height: auto;
}

#about-page {
    padding: 2rem 8rem 2rem 8rem;
    display: grid; 
    grid-template-columns: 11rem auto;
    grid-gap: 2rem;
    text-align: justify;
    line-height: 1.4;
}

#social-media-icons {
    padding: 2rem 7rem 2rem 7rem;
    display: flex;
    justify-content: flex-end;
} 

#linked-in-icon, #vimeo-icon, #instagram-icon, #github-icon {
    padding: 0rem 0.5rem 0rem 0.5rem;
}

#headshot {
    width: 11rem;
    height: auto;
    border-radius: 50%;
}

/* Work Page */

.button {
	margin-right: 3rem;
	background-color: transparent;
	border-color: transparent;
	font-family: 'Comfortaa', cursive;
	color: #e88d0b;
	font-size: 1rem;
	border-radius: 1rem;
}

#mediums { 
    padding: 2rem 7rem 2rem 7rem;
    display: flex;
	justify-content: flex-start;
}

#all-button {
	background-color: #FFF;
}

/* Style the Image Used to Trigger the Modal */
#video-images {
	margin: 0rem 8rem 0rem 8rem;
	justify-content: center;
    display: flex;
    flex-wrap: wrap;
	cursor: pointer;
	transition: 0.3s;
}

.video-images {
	height: 170px;
	width: auto;
} 

.video-images:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
  	z-index: 1; /* Sit on top */
	padding-top: 6rem; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
  	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.caption {
	color: #fff;
	width: 640px;
}

.modal-content {
	display: grid;
	grid-template-rows: auto auto;
	justify-content: center;
}

/* The Close Button */
.close {
  position: absolute;
  top: 1rem;
  right: 2rem;
  color: #f1f1f1;
  font-size: 3rem;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#top-button {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 1rem; /* Place the button at the bottom of the page */
    right: 1rem; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border-color: #e88d0b; /* Set a border color */
    outline: none; /* Remove outline */
    background-color: #FFF; /* Set a background color */
    color: #e88d0b; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 1rem; /* Increase font size */
}

#top-button:hover {
    background-color: #f1ead8; /* Change background color on hover */
}

/* Contact Page */
#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 25rem;
    margin-right: 25rem;
}

#submit-button {
    background-color: #FFF;
    font-family: 'Comfortaa', cursive;
    color: #e88d0b;
    width: 7rem;
    height: 4rem;
    align-self: flex-end;
    margin-top: 1.5rem;
    font-size: 1rem;
    border-radius: 1rem;
}

/*Footer*/
footer {
    margin-top: 3rem;
    text-align: center;
    padding: 0.5rem;
}




